@page
<div class="container">
    <h2>Issue count: </h2>
    <span id="issuesCount"></span>
    <h2>List of issues</h2>
    <div>
        <ul id="issuesList">

        </ul>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
@*<script src="~/js/chat.js"></script>*@
